.side-panel {
	margin-top: 30px;

	.panel-nav {
		margin-bottom: 15px;
	}

	.trail-details {
		.thumbnail {
			.image-container {
				position: relative;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				color: #fff;
				height: 150px;
				padding: 50px 15px 0;
				background-image: url(../../images/zanja-peak.jpg);
				background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url(../../images/zanja-peak.jpg) no-repeat center center;

				.content-overlay {
					position: absolute;
					bottom: 0;
					padding-bottom: 15px;
				}
			}
		}
	}

	.nav-links {
		padding: 0;

		li {
			display: inline-block;
			padding: 10px 10px;
		}
	}
}
