@{
	ViewData["Title"] = "Home Page";
}

@section Scripts {
	<!--load ArcGIS API for JavaScript-->
	<script>
		var dojoConfig = {
			has: {
				"esri-promise-compatibility": 1
			},
			async: true
		};
	</script>
	<script type='text/javascript' rel=preload src='https://js.arcgis.com/4.7/'></script>
	<script>
		require(['./dist/main.bundle.js'], function (main) { });
	</script>
}

	<section class="row">
		<aside class="col-4">
			<div class="side-panel menuPanel">
				<div class="row trail-nav mt-3 mb-3">
					<div class="col-12">
						<div class="menuTabs btn-group d-flex visible-panel pl-3 pr-3" role="group" aria-label="Trail Navigation">
							<button type="button" class="btn btn-default w-100 btn-primary" data-tab='selectionPanel'>Hikes</button>
							<button type="button" class="btn btn-default w-100" data-tab='detailPanel'>Details</button>
						</div>
					</div>
				</div>
				<div id='selectionPanel'>
					<div id='trailsPanel'></div>
					<div id='filterPanel'></div>
				</div>
				<div class="col-12 d-none" id='detailPanel'>
					<div class="card mb-3">
						<div class="card-body">
							<div id="detailTitle"></div>
							<div id="detailDescription"></div>
							<div class="card-text row" id="detailMeta"></div>
						</div>
					</div>
					@*<div class="row trail-reviews mb-3">
			<div class="col-12">
				<ul class="nav nav-tabs" style="margin-bottom: 15px">
					<li role="presentation" class="nav-item">
						<a class="nav-link active" href="#">Reviews</a>
					</li>
					<li role="presentation" class="nav-item">
						<a class="nav-link" href="#">Photos</a>
					</li>
				</ul>
				<p style="text-align: center;">
					Share your experiences to help other people learn more about this trail:
				</p>
				<div style="margin-bottom: 15px; text-align:center;">
					<button class="btn btn-primary" type="button">
						Write Review
					</button>
					<button class="btn btn-primary" type="button">
						Upload Photos
					</button>
				</div>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a active" href="#">Newest First</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Oldest First</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Highest Rating</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Lowest Rating</a>
					</li>
				</ul>


				<div class="card mb-3">
					<div class="card-header">
						Eddie Pantoja
					</div>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>

				<div class="card mb-3">
					<div class="card-header">
						Eddie Pantoja
					</div>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>

			</div>
		</div>*@
				</div>
			</div>
		</aside>
		<div class="col-8 scene-container">
			<div id='scenePanel'></div>
			<div class="elevation-container d-none">
				<div id='detailElevationProfile'></div>
			</div>
		</div>
	</section>
